---
---
<div x-data="{ showmenu: false }">
    <div id="navbar" class="flex flex-row justify-between py-4">
        <div id="logo" class="">
            <a href="#top">Site logo</a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row gap-4">
                <li class=""><a href="#herounit">Top</a></li>
                <li class=""><a href="#bogen">Bogen</a></li>
                <li class=""><a href="#billeder">Billeder</a></li>
                <li class=""><a href="#bestil">Bestil</a></li>
            </ul>
        </nav>
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul >
            <li class="text-center py-2 border-y-2"><a href="#herounit">Top</a></ul></li>
            <li class="text-center py-2 border-b-2"><a href="#bogen">Bogen</a></li>
            <li class="text-center py-2 border-b-2"><a href="#billeder">Billeder</a></li>
            <li class="text-center py-2 border-b-2"><a href="#bestil">Bestil</a></li>
        </ul>
    </nav>
</div>
